@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

html, body {
  color: #333;
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}
html a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}
.main {
  padding: 20px;
  margin: 0 auto;
  max-width: 960px;
  
}
.rss {
  border-radius: 3px;
  border: 1px solid #DFDFDF;
  padding: 0 10px 0 10px;
}
.ico {
  float: right;
}
.ico img {
  width: 16px;
  height: auto;
}
#items {
  list-style: none;
  margin: 0;
  padding: 0;
}
#items li {
  display: block;
  clear: left;
  margin: 10px 0 10px 0;
  min-height: 110px;
}
.image {
  display: inline-block;
  float: left;
  width: 200px;
  height: 105px;
  margin: 0 20px 10px 0;
}
.image a {
  width: 200px;
  height: 105px;
}

.image div {
  overflow: hidden;
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid #DFDFDF;
  width: 200px;
  height: 105px;
}
.item {
  max-width: 700px;
  display: inline;
}
.desc, .time {
  font-size: 0.8em
}
